<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.outdoor.mapper.BenlistMapper" >
  <resultMap id="BaseResultMap" type="com.my.outdoor.pojo.Benlist" >
    <id column="bid" property="bid" jdbcType="INTEGER" />
    <result column="bname" property="bname" jdbcType="VARCHAR" />
    <result column="bphone" property="bphone" jdbcType="VARCHAR" />
    <result column="bactivename" property="bactivename" jdbcType="VARCHAR" />
    <result column="bactivetime" property="bactivetime" jdbcType="VARCHAR" />
    <result column="bjust" property="bjust" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bid, bname, bphone, bactivename, bactivetime, bjust
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.my.outdoor.pojo.BenlistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from benlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from benlist
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from benlist
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.my.outdoor.pojo.BenlistExample" >
    delete from benlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.my.outdoor.pojo.Benlist" >
    insert into benlist (bid, bname, bphone, 
      bactivename, bactivetime, bjust
      )
    values (#{bid,jdbcType=INTEGER}, #{bname,jdbcType=VARCHAR}, #{bphone,jdbcType=VARCHAR}, 
      #{bactivename,jdbcType=VARCHAR}, #{bactivetime,jdbcType=VARCHAR}, #{bjust,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.my.outdoor.pojo.Benlist" >
    insert into benlist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        bid,
      </if>
      <if test="bname != null" >
        bname,
      </if>
      <if test="bphone != null" >
        bphone,
      </if>
      <if test="bactivename != null" >
        bactivename,
      </if>
      <if test="bactivetime != null" >
        bactivetime,
      </if>
      <if test="bjust != null" >
        bjust,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bname != null" >
        #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bphone != null" >
        #{bphone,jdbcType=VARCHAR},
      </if>
      <if test="bactivename != null" >
        #{bactivename,jdbcType=VARCHAR},
      </if>
      <if test="bactivetime != null" >
        #{bactivetime,jdbcType=VARCHAR},
      </if>
      <if test="bjust != null" >
        #{bjust,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.my.outdoor.pojo.BenlistExample" resultType="java.lang.Integer" >
    select count(*) from benlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update benlist
    <set >
      <if test="record.bid != null" >
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.bname != null" >
        bname = #{record.bname,jdbcType=VARCHAR},
      </if>
      <if test="record.bphone != null" >
        bphone = #{record.bphone,jdbcType=VARCHAR},
      </if>
      <if test="record.bactivename != null" >
        bactivename = #{record.bactivename,jdbcType=VARCHAR},
      </if>
      <if test="record.bactivetime != null" >
        bactivetime = #{record.bactivetime,jdbcType=VARCHAR},
      </if>
      <if test="record.bjust != null" >
        bjust = #{record.bjust,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update benlist
    set bid = #{record.bid,jdbcType=INTEGER},
      bname = #{record.bname,jdbcType=VARCHAR},
      bphone = #{record.bphone,jdbcType=VARCHAR},
      bactivename = #{record.bactivename,jdbcType=VARCHAR},
      bactivetime = #{record.bactivetime,jdbcType=VARCHAR},
      bjust = #{record.bjust,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.outdoor.pojo.Benlist" >
    update benlist
    <set >
      <if test="bname != null" >
        bname = #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bphone != null" >
        bphone = #{bphone,jdbcType=VARCHAR},
      </if>
      <if test="bactivename != null" >
        bactivename = #{bactivename,jdbcType=VARCHAR},
      </if>
      <if test="bactivetime != null" >
        bactivetime = #{bactivetime,jdbcType=VARCHAR},
      </if>
      <if test="bjust != null" >
        bjust = #{bjust,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.outdoor.pojo.Benlist" >
    update benlist
    set bname = #{bname,jdbcType=VARCHAR},
      bphone = #{bphone,jdbcType=VARCHAR},
      bactivename = #{bactivename,jdbcType=VARCHAR},
      bactivetime = #{bactivetime,jdbcType=VARCHAR},
      bjust = #{bjust,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>